<div>
  <%= form_for([@company, @quote, @service], url: company_customer_quote_services_path) do |f| %>
    <%= f.text_field :ref_service, label: 'Réf. Prestation' %>
    <%= f.text_field :description_service, label: 'Prestation' %>
    <%= f.text_field :unit_price, label: 'Prix unitaire' %>
    <%= f.submit %>
    <%= link_to '< Retour', company_services_path(@company), class: 'btn btn-primary' %>
  <% end %>
</div>