<div>
  <%= simple_form_for([@company, @service]) do |f| %>
    <%= f.input :ref_service %>
    <%= f.input :description_service %>
    <%= f.input :unit_price %>
    <%= f.submit %>
    <%= link_to '< Retour', company_services_path(@company), class: 'btn btn-primary' %>
  <% end %>
</div>
