<!-- <table>
  <thead>
    <th>Ref_service</th>
    <th>Description</th>
    <th>Unit Price</th>
    <th>Quantity</th>
    <th>Total Price Service</th>
  </thead>
  <tbody>
    <td><%= f.input :ref_service %></td>
    <td><%= f.input :description_service %></td>
    <td><%= f.input :unit_price %></td>
    <td><%= f.input :quantity %></td>
    <td><%= f.input :total_price_service %></td>
  </tbody>
</table> -->