<div>
  <%= simple_form_for([@company, @customer, @quote]) do |f| %>
    <%= f.input :ref_quote %>
    <%= f.input :description %>
    <%= f.submit %>
    <%= link_to '< Back', company_customer_path(@company, @customer), class: 'btn btn-primary' %>
  <% end %>
</div>