<div>
  <%= simple_form_for([@company, @customer, @quote]) do |f| %>
    <div class="form-group">
      <%= f.input :ref_quote, label: 'Référence Devis:' %>
    </div>
    <div class="form-group">
      <%= f.input :description, as: :text, label: 'Description:' %>
    </div>
    <div class="form-group">
      <table>
        <thead>
        </thead>
        <tbody class='fields'>
          <tr>
            <%= f.simple_fields_for(:services) do |f| %>
              <td><%= f.input :ref_service, label: 'Référence Prestation'%></td>
              <td><%= f.input :description_service, label: 'Prestation' %></td>
              <td><%= f.input :unit_price, label: 'Prix unitaire' %></td>
            <% end %>
            <%= f.simple_fields_for(:quote_services) do |f| %>
              <td><%= f.input :quantity, label: 'Quantité' %></td>
              <td><%= f.input :total_price_service, label: 'Total Prestation' %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div> 
    <div class="form-group">
      <%= f.input :price_duty_free, label: 'Prix total HT:' %>
      <%= f.input :price_all_taxes, label: 'Prix total TTC:' %>
    </div>
    <div class="form-group">
      <%= f.input :deposit, label: 'Accompte:' %>
    </div>
    <%= f.submit 'Valider le devis' %>
  <% end %>
</div>
