<div class="quote">
  <h2>Quotes</h2>
  <div>
    <%= link_to 'Add a new quote', new_company_customer_quote_path(@company, @customer), class: 'btn btn-primary' %>
  </div>
  <table border="1">
    <tr>
      <th>Ref_Quote</th>
      <th>Description</th>
      <th>Price w/o taxes</th>
      <th>Price w/ taxes</th>
      <th>Options</th>
    </tr>
    <tr>
      <% @quotes.each do |quote| %>
        <td><%= quote.ref_quote %></td>
        <td><%= quote.description %></td>
        <td><%= quote.price_duty_free %></td>
        <td><%= quote.price_all_taxes %></td>
        <td></td>
      <% end %>
    </tr>
  </table>
</div>
<div>
  <%= link_to '< Back', company_customer_path(@company, @customer), class: 'btn btn-primary' %>
</div>