<div class="quote">
  <h2>Devis</h2>
  <div>
    <%= link_to 'Créer un devis', new_company_customer_quote_path(@company, @customer), class: 'btn btn-primary' %>
  </div>
  <table border="1">
    <thead>
      <tr>
        <th>Ref_Devis</th>
        <th>Description</th>
        <th>Accompte</th>
        <th>Prix HT</th>
        <th>Prix TTC</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <% @quotes.each do |quote| %>
        <tr>
          <td>          
            <%= link_to company_customer_quote_path(@company, @customer, quote) do %>
              <%= quote.ref_quote %></td>
            <% end %>
          <td><%= quote.description %></td>
          <td><%= quote.deposit %></td>
          <td><%= quote.price_duty_free %></td>
          <td><%= quote.price_all_taxes %></td>
          <td>
            <%= link_to 'modifier', edit_company_customer_quote_path(@company, @customer, quote), class: 'btn btn-warning' %>
            <%= link_to 'supprimer', company_customer_quote_path(@company, @customer, quote), method: :delete, class: 'btn btn-danger', data: { confirm: "Delete?" } %>
          </td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>
<div>
  <%= link_to '< Retour', company_customer_path(@company, @customer), class: 'btn btn-primary' %>
</div>