<div>
  <h1><%= @customer.name %></h1>
  <h2>Devis - <%= @quote.ref_quote %></h2>
  <h4><%= @quote.description %></h4>
  
  <table>
    <thead>
      <th>Ref_Prestation</th>
      <th>Description</th>
      <th>Prix unitaire</th>
      <th>Quantité</th>
      <th>Total Prestation</th>
    </thead>
    <tbody>
      <% if @quote.services.exists? %>
        <% @quote.quote_services.each do |quote_service| %>
          <tr>
            <td><%= quote_service.service.ref_service %></td>
            <td><%= quote_service.service.description_service %></td>
            <td><%= quote_service.service.unit_price %></td>
            <td><%= quote_service.quantity %></td>
            <td><%= quote_service.total_price_service %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  
  <div class="form-group d-flex">
    <%= form_for([@company, @customer, @quote, @quote_service]) do |f| %>
      <div>
        <%= f.label(:service, "Choisir une prestation:") %>
        <%= collection_select(:service, :service_id, Service.where(company_id: @company), :id, :description_service, prompt: true ) %>
      </div>
      <div>
        <%= f.label(:quantity, "Quantité (unité):") %>
        <%= f.number_field(:quantity) %>
      </div>
      <%= submit_tag('Valider la prestation') %>
    <% end %>
  </div>
  <%= link_to 'Créer une prestation', new_company_customer_quote_service_path(@company, @customer, @quote), class: 'btn btn-primary' %>
</div>
<div>
  <%= link_to 'Modifier', edit_company_customer_quote_path(@company, @customer, @quote), class: 'btn btn-warning' %>
  <%= link_to 'Supprimer', company_customer_quote_path(@company, @customer, @quote), method: :delete, class: 'btn btn-danger', data: { confirm: "Delete?" } %>
  <%= link_to '< Retour', company_customer_quotes_path(@company, @customer), class: 'btn btn-primary' %>
</div>