<div>
  <h1><%= @customer.name %></h1>
  <h2>Quote - <%= @quote.ref_quote %></h2>
  <h4><%= @quote.description %></h4>
  <%= link_to 'Add a new service', new_company_customer_quote_service_path(@company, @customer, @quote), class: 'btn btn-primary' %>
  <table>
    <thead>
      <th>Ref_service</th>
      <th>Description</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th>Total Price Service</th>
    </thead>
    <tbody>
      <% if @quote.services.exists? %>
        <% @quote.services.each do |service| %>
        <tr>
          <td><%= service.ref_service %></td>
          <td><%= service.description_service %></td>
          <td><%= service.unit_price %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<div>
  <%= link_to 'Edit', edit_company_customer_quote_path(@company, @customer, @quote), class: 'btn btn-warning' %>
  <%= link_to 'Remove', company_customer_quote_path(@company, @customer, @quote), method: :delete, class: 'btn btn-danger', data: { confirm: "Delete?" } %>
  <%= link_to '< Back', company_customer_quotes_path(@company, @customer), class: 'btn btn-primary' %>
</div>