<div>
  <div>
    <h1><%= @customer.name %></h1>
    <h4>Devis - réf. <%= @quote.ref_quote %></h4>
    <p><%= @quote.description %></p>
    <div>
      <%= link_to 'Modifier les informations', edit_company_customer_quote_path(@company, @customer, @quote), class: 'btn btn-warning' %>
    </div>
  </div>
  <br>
  <div>
    <p>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Ajouter une prestation au devis
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <%= form_for([@company, @customer, @quote, @quote_service]) do |f| %>
          <div class="form-group row">
            <%= link_to 'Créer une nouvelle prestation', new_company_customer_quote_service_path(@company, @customer, @quote) %>
          </div>
          <div class="form-group row">
            <%= f.label(:service, "Sélectionner une prestation: ") %>
            <%= collection_select(:service, :service_id, Service.where(company_id: @company), :id, :description_service) %>
          </div>
          <div class="form-group row">
            <%= f.label(:quantity, "Quantité (unité): ") %>
            <%= f.number_field(:quantity, required: true) %>
          </div>
          <div class="form-group row">
            <%= submit_tag('Valider la prestation') %>  
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <table border="1">
    <thead>
      <th>Référence</th>
      <th>Description de la prestation</th>
      <th>Prix unitaire</th>
      <th>Quantité</th>
      <th>Total HT</th>
      <th></th>
    </thead>
    <tbody>
      <% if @quote.services.exists? %>
        <% @quote.quote_services.each do |quote_service| %>
          <tr>
            <td><%= quote_service.service.ref_service %></td>
            <td><%= quote_service.service.description_service %></td>
            <td><%= quote_service.service.unit_price %></td>
            <td><%= quote_service.quantity %></td>
            <td><%= quote_service.total_price_service %></td>
            <td>
              <%= link_to 'supprimer', company_customer_quote_quote_service_path(@company, @customer, @quote, quote_service), method: :delete, class: 'btn btn-danger', data: { confirm: "Supprimer?" } %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<div>
  <p>Acompte: <%= @quote.deposit %> euros (aide: 20% d'acompte équivaut à ... euros)</p>
  <p>Prix Total HT: <%= @quote.price_duty_free %> euros</p>
  <p>Prix Total TTC: <%= @quote.price_all_taxes %> euros</p>
</div>

<br>
<div>
  <%= link_to 'Supprimer le devis', company_customer_quote_path(@company, @customer, @quote), method: :delete, class: 'btn btn-danger', data: { confirm: "Supprimer?" } %>
  <%= link_to '< Retour', company_customer_quotes_path(@company, @customer), class: 'btn btn-primary' %>
</div>