<div>
  <h1><%= @customer.name %></h1>
  <h2>Devis - <%= @quote.ref_quote %></h2>
  <h4><%= @quote.description %></h4>
  <%= link_to 'Ajouter une prestation', new_company_customer_quote_service_path(@company, @customer, @quote), class: 'btn btn-primary' %>
  <!--
  <table>
    <thead>
      <th>Ref_Prestation</th>
      <th>Description</th>
      <th>Prix unitaire</th>
      <th>Quantité</th>
      <th>Total Prestation</th>
    </thead>
    <tbody>
      <% if @quote.services.exists? %>
        <% @quote.services.each do |service| %>
          <tr>
            <td><%= service.ref_service %></td>
            <td><%= service.description_service %></td>
            <td><%= service.unit_price %></td>
        <% end %>
        <% @quote.quote_services.each do |quote_service| %>
            <td><%= quote_service.quantity %></td>
            <td><%= quote_service.total_price_service %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  -->
</div>
<div>
  <%= link_to 'Modifier', edit_company_customer_quote_path(@company, @customer, @quote), class: 'btn btn-warning' %>
  <%= link_to 'Supprimer', company_customer_quote_path(@company, @customer, @quote), method: :delete, class: 'btn btn-danger', data: { confirm: "Delete?" } %>
  <%= link_to '< Retour', company_customer_quotes_path(@company, @customer), class: 'btn btn-primary' %>
</div>


<!-- QuoteService.where(:quote_id == @quote.id) ## pour selectionner les quoteservices d'un quote précis -->
