<div>
  <%= simple_form_for([@company, @customer, @bill]) do |f| %>
    <%= f.input :ref_bill, label: 'Référence Facture:' %>
    <p>(aide: dernière référence utilisée '<%= @company.bills.last ? @company.bills.last.ref_bill : 'aucune précédente facture' %>')</p>
    <%= f.input :description, as: :text, label: 'Description:' %>
    <%= f.hidden_field :deposit, value: (@bill.deposit ? @bill.deposit : 0) %>
    <%= f.hidden_field :price_duty_free, value: 0 %>
    <%= f.hidden_field :price_all_taxes, value: 0 %>
    <%= f.submit %>
    <%= link_to '< Revenir au client', company_customer_path(@company, @customer), class: 'btn btn-primary' %>
  <% end %>
</div>