<div class="bill">
  <h2>Factures</h2>
  <div>
    <%= link_to 'Créer une facture', new_company_customer_bill_path(@company, @customer), class: 'btn btn-primary' %>
  </div>
  <br>
  <table border="1">
    <thead>
      <tr>
        <th>Ref_facture</th>
        <th>Description</th>
        <th>Accompte</th>
        <th>Prix HT</th>
        <th>Prix TTC</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <% @bills.each do |bill| %>
        <tr>
          <td><%= link_to company_customer_bill_path(@company, @customer, bill) do %>
              <%= bill.ref_bill %>
            <% end %></td>
          <td><%= bill.description %></td>
          <td><%= bill.deposit %></td>
          <td><%= bill.price_duty_free %></td>
          <td><%= bill.price_all_taxes %></td>
          <td>
            <%= link_to 'modifier', edit_company_customer_bill_path(@company, @customer, bill), class: 'btn btn-warning' %>
            <%= link_to 'supprimer', company_customer_bill_path(@company, @customer, bill), method: :delete, class: 'btn btn-danger', data: { confirm: "Supprimer?" } %>
          </td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>
<br>
<div>
  <%= link_to '< Retour', company_customer_path(@company, @customer), class: 'btn btn-primary' %>
</div>
