<div>
  <div>
    <%#= link_to 'Télécharger PDF', pdf_company_customer_bill_path([@company, @customer, @bill], format: :pdf), class: 'btn btn-secondary' %>
  </div>
  <br>
  <div>
    <h1><%= @customer.name %></h1>
    <h4>Facture - réf. <%= @bill.ref_bill %></h4>
    <p><%= @bill.description %></p>
    <div>
      <%= link_to 'Modifier les informations générales', edit_company_customer_bill_path(@company, @customer, @bill), class: 'btn btn-warning' %>
    </div>
  </div>
  <br>
  <div>
    <p>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsebillService" aria-expanded="false" aria-controls="collapsebillService">
        Ajouter une prestation à la facture
      </button>
    </p>
    <div class="collapse" id="collapsebillService">
      <div class="card card-body">
        <%= form_for([@company, @customer, @bill, @bill_service]) do |f| %>
          <div class="row">
            <%= link_to 'Créer une nouvelle prestation', new_company_customer_bill_service_path(@company, @customer, @bill) %>
          </div>
          <br>
          <div class="form-group row">
            <%= f.label(:service, "Sélectionner une prestation: ") %>
            <%= collection_select(:service, :service_id, Service.where(company_id: @company), :id, :description_service) %>
          </div>
          <div class="form-group row">
            <%= f.label(:quantity, "Quantité (unité): ") %>
            <%= f.text_field(:quantity, required: true) %>
          </div>
          <div class="form-group row">
            <%= submit_tag('Valider la prestation') %>  
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <table border="1">
    <thead>
      <th>Référence</th>
      <th>Description de la prestation</th>
      <th>Prix unitaire</th>
      <th>Quantité</th>
      <th>Total HT</th>
      <th></th>
    </thead>
    <tbody>
      <% if @bill.services.exists? %>
        <% @bill.bill_services.each do |bill_service| %>
          <tr>
            <td><%= bill_service.service.ref_service %></td>
            <td><%= bill_service.service.description_service %></td>
            <td><%= bill_service.service.unit_price %></td>
            <td><%= bill_service.quantity %></td>
            <td><%= bill_service.total_price_service %></td>
            <td>
              <%= link_to 'Supprimer', company_customer_bill_bill_service_path(@company, @customer, @bill, bill_service), method: :delete, class: 'btn btn-danger', data: { confirm: "Supprimer?" } %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<div>
  <div>
    <p>Acompte:  <%= @bill.deposit %> euros <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsebill" aria-expanded="false" aria-controls="collapsebill">Ajouter un acompte</button></p>
    <div class="collapse" id="collapsebill">
      <div class="card card-body">
        <div class='row'>
          <p>Aide:  Pour un acompte de 20%, le montant serait de <%= ((@bill.price_duty_free * 20) / 100).round(2) %> euros.</p>
        </div>
        <div>
          <%= form_for([@company, @customer, @bill]) do |f| %>
            <div class="form-group row">
              <%= f.hidden_field(:ref_bill, value: @bill.ref_bill) %>
              <%= f.hidden_field(:description, value: @bill.description) %>
              <%= f.label(:deposit, "Montant: ") %>
              <%= f.text_field(:deposit, required: true) %>
            </div>
            <div class="form-group row">
              <%= submit_tag('Valider') %>  
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <p>Prix Total HT: <%= @bill.price_duty_free %> euros</p>
  <p>Prix Total TTC: <%= @bill.price_all_taxes %> euros</p>
</div>

<br>
<div>
  <%= link_to 'Supprimer la facture', company_customer_bill_path(@company, @customer, @bill), method: :delete, class: 'btn btn-danger', data: { confirm: "Supprimer?" } %>
  <%= link_to '< Revenir au client', company_customer_path(@company, @customer), class: 'btn btn-primary' %>
</div>