<div>
  <%= simple_form_for([@company, @customer]) do |f| %>
    <%= f.input :name, label: 'Nom ou Dénomination sociale:' %>
    <%= f.input :ref_client, label: 'Référence Client:' %>
    <%= f.input :address, label: 'Adresse:' %>
    <%= f.input :postcode, label: 'Code postal:' %>
    <%= f.input :city, label: 'Ville:' %>
    <%= f.input :phone_1, label: 'Téléphone 1:' %>
    <%= f.input :phone_2, label: 'Téléphone 2' %>
    <%= f.input :email_1, label: 'Email 1:' %>
    <%= f.input :email_2, label: 'Email 2:' %>
    <%= f.input :siret, label: "SIRET (s'il s'agit d'une entreprise):" %>
    <%= f.submit %>
    <%= link_to '< Revenir à la liste de clients', company_customers_path(@company), class: 'btn btn-primary' %>
  <% end %>
</div>