<div>
  <% @customers.each do |customer| %>
    <%= link_to company_customer_path(@company, customer) do %>
      <%= customer.name %> - <%= customer.ref_client %>
    <% end %>
  <% end %>
</div>
<div>
  <%= link_to 'Créer un client', new_company_customer_path(@company), class: 'btn btn-primary' %>
  <%= link_to '< Retour', company_path(@company), class: 'btn btn-primary' %>
</div>