<div>
  <h1><%= @customer.name %> - <%= @customer.ref_client %></h1>
  <h4><%= @customer.address %></h4>
  <h4><%= @customer.postcode %> <%= @customer.city %></h4>
  <h4><%= @customer.phone_1 %></h4>
  <h4><%= @customer.phone_2 %></h4>
  <h4><%= @customer.email_1 %></h4>
  <h4><%= @customer.email_2 %></h4>
  <h4><%= @customer.siren %></h4>
  <h4><%= @customer.siret %></h4>
</div>

<div class="quote">
  <h2>Quotes (5 lasts)</h2>
  <%= link_to 'See all quotes', company_customer_quotes_path(@company, @customer) %>
  <table border="1">
    <thead>
      <tr>
        <th>Ref_Quote</th>
        <th>Description</th>
        <th>Deposit</th>
        <th>Price w/o taxes</th>
      </tr>
    </thead>
    <tbody>
      <% @quotes.each do |quote| %>
        <tr>
          <td>          
            <%= link_to company_customer_quote_path(@company, @customer, quote) do %>
              <%= quote.ref_quote %></td>
            <% end %>
          <td><%= quote.description %></td>
          <td><%= quote.deposit %></td>
          <td><%= quote.price_duty_free %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>
<div>
  <%= link_to '< Back', company_customer_path(@company, @customer), class: 'btn btn-primary' %>
