<div>
  <h1><%= @customer.name %> - <%= @customer.ref_client %></h1>
  <h4><%= @customer.address %></h4>
  <h4><%= @customer.postcode %> <%= @customer.city %></h4>
  <h4><%= @customer.phone_1 %></h4>
  <h4><%= @customer.phone_2 %></h4>
  <h4><%= @customer.email_1 %></h4>
  <h4><%= @customer.email_2 %></h4>
  <h4><%= @customer.siren %></h4>
  <h4><%= @customer.siret %></h4>
  <%= link_to 'Modifier les informations générales', edit_company_customer_path(@company, @customer), class: 'btn btn-warning' %>
</div>

<div class="quote">
  <h2>Devis (5 derniers)</h2>
  <%= link_to 'Voir tous les devis', company_customer_quotes_path(@company, @customer) %>
  <table border="1">
    <thead>
      <tr>
        <th>Ref_Devis</th>
        <th>Description</th>
        <th>Accompte</th>
        <th>Prix HT</th>
      </tr>
    </thead>
    <tbody>
      <% @quotes.each do |quote| %>
        <tr>
          <td>          
            <%= link_to company_customer_quote_path(@company, @customer, quote) do %>
              <%= quote.ref_quote %></td>
            <% end %>
          <td><%= quote.description %></td>
          <td><%= quote.deposit %></td>
          <td><%= quote.price_duty_free %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>

<div class="bill">
  <h2>Factures (5 dernières)</h2>
  <%= link_to 'Voir toutes les factures', company_customer_bills_path(@company, @customer) %>
  <table border="1">
    <thead>
      <tr>
        <th>Ref_Facture</th>
        <th>Description</th>
        <th>Accompte</th>
        <th>Prix HT</th>
      </tr>
    </thead>
    <tbody>
      <% @bills.each do |bill| %>
        <tr>
          <td>          
            <%= link_to company_customer_bill_path(@company, @customer, bill) do %>
              <%= bill.ref_bill %></td>
            <% end %>
          <td><%= bill.description %></td>
          <td><%= bill.deposit %></td>
          <td><%= bill.price_duty_free %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>
<div>
  <%= link_to '< Retour', company_customers_path(@company), class: 'btn btn-primary' %>
</div>