<div>
  <h1><%= @company.name %></h1>  
  <p>
    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Voir les informations de l'entreprise
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <div>Adresse: <%= @company.address %> <%= @company.postcode %> <%= @company.city %></div>
      <div>Téléphone: <%= @company.phone %></div>
      <div>Email: <%= @company.email %></div>
      <div>SIRET: <%= @company.siret %></div>
      <div>Taux de TVA: <%= @company.tva %> %</div>
      <br>
      <div>
        <%= link_to "Modifier", edit_company_path(@company), class: 'btn btn-warning' %>
      </div>
    </div>
    <br>
  </div>
</div>
<br>
<div>
  <h3>Tableau de Bord</h3>
  <!--<div>
    <%= link_to 'Liste des Clients', company_customers_path(@company), class: 'btn btn-info' %>
    <%= link_to 'Catalogue de Prestations', company_services_path(@company), class: 'btn btn-info' %>
  </div>-->
  <br>
  <div class="quote">
    <h4>Devis</h4>
    <table border="1">
      <thead>
        <tr>
          <th>Référence</th>
          <th>Client</th>
          <th>Description du devis</th>
          <th>Acompte</th>
          <th>Prix HT</th>
          <th>Prix TTC</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @company.quotes.each do |quote| %>
          <tr>
            <td>
              <%= link_to company_customer_quote_path(@company, quote.customer.id, quote.id) do %>
                <%= quote.ref_quote %>
              <% end %>
            </td>
            <td>
              <%= link_to company_customer_path(@company, quote.customer.id) do %>
                <%= quote.customer.name %>
              <% end %>
            </td>
            <td><%= quote.description %></td>
            <td><%= quote.deposit %></td>
            <td><%= quote.price_duty_free %></td>
            <td><%= quote.price_all_taxes %></td>
            <td>
              <%= link_to 'voir', company_customer_quote_path(@company, quote.customer.id, quote.id), class: 'btn btn-secondary' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
  <div class="bill">
    <h4>Factures</h4>
    <table border="1">
      <thead>
        <tr>
          <th>Référence</th>
          <th>Client</th>
          <th>Description de la facture</th>
          <th>Acompte</th>
          <th>Prix HT</th>
          <th>Prix TTC</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @company.bills.each do |bill| %>
          <tr>
            <td>
              <%= link_to company_customer_bill_path(@company, bill.customer.id, bill.id) do %>
                <%= bill.ref_bill %>
              <% end %>
            </td>
            <td>
              <%= link_to company_customer_path(@company, bill.customer.id) do %>
                <%= bill.customer.name %>
              <% end %>
            </td>
            <td><%= bill.description %></td>
            <td><%= bill.deposit %></td>
            <td><%= bill.price_duty_free %></td>
            <td><%= bill.price_all_taxes %></td>
            <td>
              <%= link_to 'voir', company_customer_bill_path(@company, bill.customer.id, bill.id), class: 'btn btn-secondary' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
<div>
  <%= link_to "Sélectionner une autre entreprise", companies_path, class: 'btn btn-primary' %>
  <%= link_to "Supprimer l'entreprise", company_path(@company), method: :delete, class: 'btn btn-danger', data: { confirm: "Supprimer?" } %>
</div>
